body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #41B3A3;
    color: white;
    line-height: 1.55;
    font-size: 1.2rem;
}